<%= form_for(@feed_item) do |f| %>
  <div class="actions">
    <%= f.label :text %> : <%= f.text_field :text %> </ br>
    <%= f.label :token %> : <%= f.text_field :token %></ br>
    <%= f.label :category %> : <%= f.text_field :category %></ br>

    <%= f.submit %>
  </div>
<% end %>
